*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100; /* Adjust as needed */
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),
         url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff');
}

html{
    font-size: 16px;  
    font-family: 'Netflix Sans', sans-serif;
    font-weight: 100, 200,300,700;
}

.main-background-image{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/2bcf01ee-7ef6-4930-b0d5-c6863853c461/web/IN-en-20241125-TRIFECTA-perspective_a47db038-756f-4f26-b1f7-cfc882b98746_large.jpg);
   width: 100%;
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   /* filter: brightness(50%); */

}

.header{
    width: 100%;
    height: 5.6rem;
}

.header-netflix-logo-container{
    display: flex;
    align-items: center;
    width: 80%;
    height: 5.6rem;
    margin: 0 auto;
}

.header-netflix-logo{
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
}

.form-container{
    width: 30%;
    min-width: 400px;
    height: 87.8vh;
    background-color: rgba(0,0,0,0.8);
    padding: 3rem 4.25rem;
    color: #ffffff;
    margin: 0 auto;
}

h1{
    font-size: 2rem;
    margin: 0 0 1.75rem;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 700;
}

.login-details-input{
    display: block;
    width: 100%;
    line-height: 1.4;
    padding: 1.1rem 1rem 1.1rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1) ;
    border-radius: 4px;
    margin: 1rem 0;
}

::placeholder{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    vertical-align: middle;
}

.btn{
 /* display: block; */
 width: 100%;
 height: 2.5rem;
 margin: 1rem 0;
 border-radius: 4px;
 border: none;
 font-size: 1rem;
 color:rgba(255, 255, 255, 1) ;
}

.sign-in-btn{
    background-color: rgb(229, 9, 20);
}

.sign-in-code-btn{
    background-color: dimgray;
    border: dimgray;
}


.text{
    text-align: center;
    font-size: 1rem;
}

.remember-me-btn{
    vertical-align: baseline;
    padding-left: 0.5rem;
    margin: 1.5rem 0;

}

input[type=checkbox]{
    transform: scale(1.5);
   margin-right: 0.5rem;
   color: #ffffff;
   
}

.small-text{
    font-size: 0.8rem;
    line-height: 1.5;
}

.sign-up-link{
    color: #ffffff;
text-decoration: none;
}

.sign-up-link:hover{
    text-decoration: underline;
}

.new-to-netflix-details-text{
    margin-bottom: 1.7rem;
}

.learn-more-text{
    font-size: 0.8rem;
    font-weight: 100;
}

.learn-more-link{
    color:blue;
    text-decoration: none;
}

footer{
    background-color: rgba(0,0,0);
    width: 100%;
    height: 62vh;
    color: #ffffff;
    overflow: hidden;
    font-size: 0.9rem;
    font-weight: 100;
}
footer a{
    color: #ffffff;
}

.footer-container{
    width: 60%;
    font-size: 0.85rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 5);
    margin: 12rem 0 0 11rem;
    /* border: 2px solid wheat; */
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.help-center-div{
    padding: 2.5rem 0;
    margin-left: 4rem;
}

.term-use{
    padding: 4rem 0;
    margin-left: 8rem;
}
.privacy{
    padding: 4rem 0;
    margin-left: 11rem;
}
#phone-number{
    text-decoration: none;
}
#phone-number:hover{
    text-decoration: underline;
}



li{
    margin-top: 1.6rem;
    list-style: none;
    
}
.lang-selection-btn{
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 11rem;
    border-radius: 4px;
    color: #ffffff;
    background-color: #0f0f0f;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}








